#box {
 height:1682px;
 width: 1150px;
 text-align: left;
 padding: 0px;
 background-position: center;
 clear: none;
 float:none;
 position:absolute;
 left:50%;
 margin-left:-575px;
 display:inline; 
 background-color: #ffffff;
 top: 155px;

 
}
a{color:#333333;}
.titlestyle740641799_4830{ font-size:14pt; padding-top:9px; padding-bottom:9px; font-weight: bold; font-family:"宋体"}
body{ font-family:"微软雅黑" }
a { color:#000; font-family:"微软雅黑";}



#main {
	height:100%;
	width: 1150px;
	text-align: center;
	padding: 0px;
	background-position: left;
	top:0;
	background-color: #ffffff;
	font-size: 14px;
	clear: both;
	float: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	z-index: 1000;
}
#box12 {
 height:1837px;
 width: 1150px;
 text-align: center;
 padding: 0px;
 background-position: center;



margin:0 auto;
 
 background-color: #ffffff;


 
}
#box316 {
 height:1420px;
 width: 1255px;

 padding: 0px;
 background-position: center;



margin:0 auto;
 
 background-color: #ffffff;


 
}
#box21 {
 height:100%;
 width: 1150px;
 text-align: center;
 padding: 0px;
 background-position: left;



margin:0 auto;
 
 background-color: #ffffff;


 
}


#box000 {
	height:1682px;
	width: 1150px;
	text-align: left;
	padding: 0px;
	background-position: center;
	clear: both;
	float:left;
	position:absolute;
	left:50%;
	margin-left:-575px;
	background-color: #ffffff;
	top: 155px;
	font-family: "宋体";
	font-size: 14px;
	display:inline

 
}
#div042 {float: left;
    height: 100%;
    width: 1000px;}

#box1 {
 height:845px;
 width: 1151px;
 text-align: left;
 padding: 0px;
 background-position: center;
 clear: none;
 float:none;
 position:absolute;
 left:50%;
 margin-left:-575px;
 background-color: #ffffff;
 top: 155px;
 font-size: 14px;

}
#boxg1 {
 height:1000px;
 width: 1151px;
 text-align: center;
 padding: 0px;
 background-position: left;
top:0;


margin:0 auto;
 
 background-color: #ffffff;
 font-size: 14px;

}
#boxg11{
	height:311px;
	width: 1151px;
	text-align: center;
	padding: 0px;
	background-position: left;
	top:0;
	background-color: #ffffff;
	font-size: 14px;
	clear: both;
	float: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	z-index: 1000;
}
.boxg11{

	text-align: center;
	padding: 0px;
	background-position: left;
	top:0;
	background-color: #ffffff;
	font-size: 14px;
	clear: both;
	float: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

}
#box2 {

height:100%;
 width: 1151px;
 text-align: left;
 padding: 0px;
 background-position: center;
 clear: none;
 float:none;
 position:absolute;
 left:50%;
 margin-left:-575px;
 background-color: #ffffff;
  top: 155px;

 
}
#box000:after{
    content:".";
    visibility:hidden;
    display:block;
    clear:both;
    height:0px;
    font-size:0px;
}
#k0 {
	height: 155px;
	width: 100%;
	text-align: left;
	float:left;
	position:absolute;
	background-color: #082B6F;
	background-repeat: repeat-x;
	left: 0;
	top:0;


}
#k316 {
	WIDTH: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 223px;

	float:left;

	background-repeat: repeat-x;
	top:0px;
	padding: 0px;
	background-image: url(426bj1.png);
left: 0;
}

#k7 {
 height: 146px;
 width: 100%;
 text-align: left;


z-index: -999;
 float:left;
 position:absolute;

 background-color: #082B6F;
 top: 0px;
 background-repeat: repeat-x;
  top: 1691px;
}
#kl7 {
 height: 146px;
 width: 100%;
 text-align: left;



 float:left;
 position:absolute;

 background-color: #082B6F;
 top: 0px;
 background-repeat: repeat-x;
  top: 1691px;
 top: 997px;
}
#kl71 {
	height: 146px;
	width: 100%;
	text-align: left;
	float:left;
	position:absolute;
	background-color: #082B6F;
	background-repeat: repeat-x;
	left: 0;

	top: 1000px;
	z-index: 998;
}
#logo {
 height: 150px;
 width: 1150px;
 text-align: left;
 padding: 0px;
 background-position: center;
 clear: none;
 float:left;
 position:absolute;
 margin-left:-575px;
 background-color: #082B6F;
 background-repeat: repeat-x;
 left: 50%;
 z-index: 999;
 top: 0;
}

#logo11 {
 height: 150px;
 width: 1150px;
 text-align: left;
 padding: 0px;
 background-position: center;

margin:auto; overflow:auto;
 background-color: #082B6F;
 background-repeat: repeat-x;

 z-index: 999;
 top: 0;
}
#logo01 {
 height:118px;
 width: 835px;
 background-image: url(index1_01.jpg);
  margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 float: left;
 padding: 0px;
}
#logo0001 {
	height:163px;
	width: 800px;
	background-image: url(index426_21.png);
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: center center;
}
#logo023 {
	height: 163px;
	width: 455px;
	top:0px;
	float: left;
	padding: 0px;
	margin: 0px;
}
#logo02 {
	height: 83px;
	width: 455px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	padding: 0px;
	background-image: url(index426_22.png);
	background-repeat: no-repeat;
	background-position: center;
}
#logo03 {
 height: 80px;
 width: 455px;
  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
}
#menu {
 text-align: left;
 float: left;
 height: 32px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 
 background-image: url(index1_04.jpg);


}
#menu0316 {
	text-align: left;
	float: left;
	height: 55px;
	width: 1255px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;

	background-color: #FFFFFF;



}
#menu1{
 text-align: left;
 float: left;
 height: 37px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 background-image: url(index1_04.jpg);
 position: relative;


}

#banner {
 text-align: left;
 float: left;
 height: 407px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;


}
#banner316 {
	text-align: left;
	height: 470px;
	width: 1260px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	background-color: #FFFFFF;
	float: none;
	padding-top: 0px;

}
#banner8 {
 text-align: right;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 background-image: url(banner8.jpg);
 vertical-align: bottom;

}
#banner5 {
 text-align: right;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 background-image: url(list1_05.jpg);
 vertical-align: bottom;


}
#banner7 {
 text-align: right;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 background-image: url(banner7.jpg);
 vertical-align: bottom;


}
#banner6 {
 text-align: right;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 background-image: url(banner6.jpg);
 vertical-align: bottom;


}
#banner1 {
 text-align: right;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 background-image: url(banner5.jpg);
 vertical-align: bottom;


}
#bannerfg{
 text-align: left;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 
 background-image: url(fg_05.jpg);


}
#banner01 {
 text-align: left;
 float: left;
 height: 151px;
 width: 1150px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 clear: both;
 
 background-image: url(content1_05.jpg);


}
#menutt{
	text-align: left;
	float: left;
	height: 38px;
	width: 1245px;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	clear: both;
	position: 固定;
	background-image: url(index426_07.jpg);
	background-repeat: repeat-x;


}
.title1{
	font-family:"Microsoft YaHei", "微软雅黑";
	font-size: 16.5pt;
	color: #033295;
	padding-left: 25px;
	
	letter-spacing: 0.3em;
	font-weight: 500;
}
.title2{
	font-family:"Microsoft YaHei", "微软雅黑";
	font-size: 12pt;
	color: #033295;
	
	letter-spacing: 0.5em;
	font-weight: 200;
}
#k1{
 height: 358px;
 width: 1255px;
 float: left;

 padding: 0px;
 margin-top: 0px;

 margin-bottom: 0px;



}
#lleft{
 height: 692px;
 width: 282px;
 float: left;
 clear: both;
 padding: 0px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 background-position: left;

}
#lrig{
 height: 692px;
 width: 868px;
  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;

}
#crig{
height: 100%;
 width: 1150px;


}
#cring:after{
    content:".";
    visibility:hidden;
    display:block;
    clear:both;
    height:0px;
    font-size:0px;
}
#k101{
 text-align: center;
 float: left;
 height: 343px;
 width: 432px;

 margin-top: 0px;
 margin-right: 0;
 margin-bottom: 0px;
 margin-left:0;
 padding-top: 15px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 12px;


}
#lleft01{

 float: left;
 height: 13px;
 width: 282px;
 clear: left;
 background-image: url(list1_08.jpg);
 padding: 0px;

 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;


}
#lleft04{
	float: left;
	height: 50px;
	width: 282px;
	clear: left;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	text-align: left;


}
.lleft04{
	float: left;
	height: 50px;
	width: 232px;
	clear: left;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	text-align: left;


}
#lrig01{
	float: left;
	height: 50px;
	width: 868px;
	clear: left;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;


}
.lrig01{


	clear: left;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;


}
#crig01{
	float: left;
	height: 50px;
	width: 1150px;
	clear: left;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;


}
#k102{
 height: 313px;
 width: 376px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 text-align: center;
 
}
#k104{
	height: 343px;
	width: 811px;
	float: left;
}
#k401{
 height:10px;
 width: 811px;
 float: left;
 padding: 0px;
 margin: 0px;
 clear: both;
 font-size:0px;
  background-image: url(index426_08.png);
}
#k201{
 height:10px;
 width: 376px;
 float: left;
 padding: 0px;
 margin: 0px;
 clear: both;
 font-size:0px;
  background-image: url(index1_09.jpg);
}
#k402{
 height: 340px;
 width: 810px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 background-image: url(index426_10.jpg);
 padding-top: 3px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 1px;
}
#k202{
 height: 298px;
 width: 376px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 background-image: url(index1_11.jpg);
 padding-top: 8px;
 padding-right: 8px;
 padding-bottom: 0px;
 padding-left: 10px;
}
#lleft02{
 
 height: 225px;
 width: 282px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
}
#fleft03{
 
 height: 404px;
 width: 282px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
}
#lleft03{
 height: 404px;
 width: 282px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 background-image: url(listbg1.jpg);
 background-repeat: repeat-x;
}
.lleft03{
	width: 282px;
	padding: 0px;
	background-image: url(listbg01.jpg);
	background-repeat: repeat-x;
	height: 100px;
	margin-top: auto;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#lrig02{
 
 height: 13px;
 width: 868px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
}
#crig02{
 
 height: 13px;
 width: 1150px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
}
#lrig03{
	height: 629px;
	width: 868px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
#lrig0300{
	height: 629px;
	width: 868px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;

}
.lrig0300{
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	height: 100%;
}
#crig03{
 
 height: 692px;
 width: 1150px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;

}
#k403{
 
 height: 5px;
 width: 811px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 background-image: url(index426_09.png);
}
#k203{
 
 height: 5px;
 width: 376px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 background-image: url(index1_15.jpg);
}
#k103{
 
 height: 313px;
 width: 360px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
}
#k301{
 height:10px;
 width: 360px;
 float: left;
 padding: 0px;
 margin: 0px;
 clear: both;
 font-size:0px;
 background-image: url(index1_100.jpg);
}
#k302{
 height: 298px;
 width: 360px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 background-image: url(index1_120.jpg);
 text-align: center;
 padding-top: 8px;
 padding-right: 3px;
 padding-bottom: 0px;
 padding-left: 3px;
 background-repeat: repeat-y;
}
#k303{
 
 height: 5px;
 width: 360px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 background-image: url(index1_160.jpg);
}
#k2{
	height: 356px;
	width: 1255px;
	float: left;
	clear: both;
	padding: 0px;
	margin-top: 85px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-position: left;
	position: 固定;

}

#logo12 {
	height: 150px;
	width: 1150px;

	padding: 0px;
	background-position: center;
	clear: both;
	float:left;
	position:relative;
	background-color: #082B6F;
	background-repeat: repeat-x;
	z-index: 999;
	top: 0;
	margin: auto;
}
#logo316 {
	height: 223px;
	width: 1255px;
	padding: 0px;
	background-position: center;
	
	position:relative;
	background-repeat: repeat-x;
	z-index: 999;
	top: 0px;
	margin-top: 0px;
	margin-right: auto;

	margin-left: auto;
	background-image: url(426bj1.png);
}
#k2001{
 text-align: left;
 float: left;
 height: 356px;
 width: 419px;
 clear: left;
 
 padding: 0px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;


}
#k2002{
 
 height: 356px;
 width: 419px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;


}
#k2003{
 
 height: 356px;
 width: 417px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;


}
#k211{
	height:56px;
	width: 409px;
	float: left;
	background-image: url(index426_12.png);
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding: 0px;
}
#k212{
	height: 300px;
	width: 413px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;

}
#k221{
 height:56px;
 width: 419px;
 float: left;
 padding: 0px;
 margin: 0px;
 clear: both;
 font-size:0px;
  background-image: url(index1_19.jpg);
}
#k222{
	height: 300px;
	width: 413px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-align: left;
}
#k321{
	height:56px;
	width: 410px;
	float: left;
	padding: 0px;
	clear: both;
	font-size:0px;
	background-image: url(index426_12.png);
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 4px;
}
#k322{
	height: 300px;
	width: 414px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;

}
#k3222{
	height: 300px;
	width: 414px;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-align: left;
	margin: 0px;
}
#j321{
	height:56px;
	width: 390px;
	float: right;
	padding: 0px;
	clear: both;
	font-size:0px;
	background-image: url(index426_12.png);
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 4px;
}
#p321{
	height:60px;
	width: 390px;
	float: right;
	padding: 0px;
	clear: both;
	font-size:0px;
	background-image: url(index426_12.png);
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 4px;
}


#p3222{
	height: 240px;
	width: 390px;
	float: right;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	text-align: left;
	margin: 0px;
}

#k3{
	height: 56px;
	width: 1250px;
	float: left;

	padding: 0px;
	margin-top: 70px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 5px;

	background-image: url(index426_12.png);

	background-repeat: repeat-x;
}
#k4{
	height: 143px;
	width: 1255px;
	float: left;
	clear: both;
	padding: 0px;
	margin-top: 23px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-position: left;
	position: 固定;

}
#k801{
 height:143px;
 width: 314px;
 float: left;
 padding: 0px;
 margin: 0px;
 clear: both;
 font-size:0px;

}
#k802{
 
 height: 143px;
 width: 313px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;


}
#k803{
 height:143px;
 width: 313px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;



}
#k804{
 
 height: 143px;
 width: 315px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
   background-image: url(index1_30.jpg);

}
#k8010{
 height:143px;
 width: 232px;
 float: left;
 padding: 0px;
 margin: 0px;
 clear: both;
 font-size:0px;
  background-image: url(index1_27.jpg);
}
#k8020{
 
 height: 143px;
 width: 224px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
   background-image: url(index1_28.jpg);

}
#k8030{
 height:143px;
 width: 229px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;


  background-image: url(index1_29.jpg);
}
#k8040{
 
 height: 143px;
 width: 240px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
   background-image: url(index1_30.jpg);

}
#k8050{
 height:143px;
 width: 225px;

  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;


  background-image: url(index1_29.jpg);
}
#k5{
	height: 200px;
	width: 1255px;
	float: left;
	clear: both;
	padding: 0px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-position: left;
	background-image: url(index1_32.jpg);
	position: 固定;
 

}
#k6{
 height: 146px;
 width: 1150px;
 text-align: left;
 padding: 0px;
 background-position: center;
 clear: none;
 float:left;
 position:absolute;
 left:50%;
 margin-left:-575px;
 background-color: #082B6F;
 top: 0px;
 background-repeat: repeat-x;

 

}

#kl6{
 height: 146px;
 width: 1150px;
  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 background-color: #082B6F;
 background-repeat: repeat-x;

 

}
#kl6316{
 height: 146px;
 width: 1260px;
  margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;

 padding: 0px;
 background-color: #kl6316;
 background-repeat: repeat-x;
 TEXT-ALIGN: center;

 

}
#kl61{
 height: 146px;
 width: 1151px;
 text-align: center;
 padding: 0px;
 background-position: center;
margin:0 auto;
 background-color: #082B6F;
 background-repeat: repeat-x;

 

}
#kl612{
 height: 146px;
 width: 1150px;
  margin-right: auto;
 margin-bottom: 0px;
 margin-left: 0px;
 float: left;
 padding: 0px;
 background-color: #082B6F;
 background-repeat: repeat-x;

 

}
#k601{
 height: 146px;
 width: 719px;
 float: left;
 clear: both;
 padding: 0px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 background-position: left;


 

}
#k602{
 height: 146px;
 width: 131px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
 float: left;
 padding-top: 3px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 300px;

 


}
.clear{ clear:both}
.c1{
 clear:both;
 top: 155px;
 margin: 155px;
 height: 900px;
 width: 1150px;
}

.foot_l {
 width: 520px;
}
.foot_r {
 width: 220px; line-height: 26px;
}
.foot_r img {
 vertical-align: middle;
}
.foot_logo {
 width: 80px; margin-right: 25px;
}
.bk{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #A0A0A0;}
#navigation {
 width:150px;
 height: 50px;
 text-align: center;
 border-top-width: 1px;
 border-top-style: solid;
 border-top-color: #A9A9A9;
 font-family: "宋体";
 font-size: 12px;
}
#navigation ul {
    list-style-type:none;
    text-align: center;
    position: 固定;
    padding-top: 12px;
    width: 150px;}
#navigation li {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: 0067ac;
    width: 150px;
    height: 22px;
    margin-bottom: 4px;
    position: 固定;}
#navigation li a{
    display:block;
    text-decoration:none;
    border-right-style: none;
    border-left-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    border-top-style: none;
    border-bottom-style: none;}
#navigation li a:link, #navigation li a:visited{
    color:#666666;
    text-align: center;}
#navigation li a:hover{                 
    color:#FFCC00;
    border-left-width: 0px;
    border-left-style: none;
    text-align: center;
    border-top-width: 0px;
    border-right-width: 0px;
    border-top-style: none;
    border-right-style: none;}
.foot {
	WIDTH: 100%;
	FLOAT: left;
	HEIGHT: 146px;
	COLOR: #666;
	background-color: #061A4E;
	font-family:"Microsoft YaHei", "微软雅黑";
}
.datalist {
	BORDER-BOTTOM: #a98e8e 1px solid; BORDER-LEFT: #a98e8e 1px solid; BACKGROUND-COLOR: #fff2f2; BORDER-COLLAPSE: collapse; FONT-FAMILY: Arial; FONT-SIZE: 14px; BORDER-TOP: #a98e8e 1px solid; BORDER-RIGHT: #a98e8e 1px solid
}
.datalist CAPTION {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px
}
.datalist TH {
	BORDER-BOTTOM: #a98e8e 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #a98e8e 1px solid; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #4bacff; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; COLOR: #ffffff; BORDER-TOP: #a98e8e 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #a98e8e 1px solid; PADDING-TOP: 4px
}
.datalist TD {
	BORDER-BOTTOM: #a98e8e 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #a98e8e 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #a98e8e 1px solid; BORDER-RIGHT: #a98e8e 1px solid; PADDING-TOP: 4px
}
.datalist TR.altrow {
	BACKGROUND-COLOR: #c7e5ff
}
.datalist A {
	COLOR: #2E2E2E; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.datalist A:hover {
	COLOR: #a80303
}
.words_gs1 {
	font-family:"Microsoft YaHei", "微软雅黑";
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.tit {
	display:inline-block;
	float:left;
	font-size:16.5pt;
	color:#033295;
	font-weight:normal;
	font-family:"Microsoft YaHei", "微软雅黑";
	letter-spacing: 0.2em;
	margin-top: 5px;
	margin-left: 15px;
	padding-top: 0px;
	padding-left: 0px;
} /**标题字体**/
.tit .title3 {
	display:inline-block;


	font-family:"Microsoft YaHei", "微软雅黑";

}
.tit1 {
	display:inline-block;
	float:left;
margin-top: 13px;
	margin-left: 12px;

		font-family:"Microsoft YaHei", "微软雅黑";
	font-size: 12pt;
	color: #033295;
	
	letter-spacing: 0.2em;
	font-weight: 200;
} /**标题字体**/
.tit1 .title4 {
	display:inline-block;


	font-family:"Microsoft YaHei", "微软雅黑";

}
.more_btn {
	display:inline-block;
	float:right;
	font-size: 12pt;
	margin-top: 13px;
	margin-right: 12px;
	padding-left: 15px;
	font-family:"Microsoft YaHei", "微软雅黑";
	color: #033295;
	background-image: url(index426_19.png);
	background-repeat: no-repeat;
}   /**更多按钮**/
.more_btn a{color:#033295;}
.riq40{ width:95%; height:60px;  margin:10px 0 15px}
.riq49{ width:60px; float:left; padding:0 0 10px; margin: 0;}
.riq49 h3{ background:#e7e7e7;  font-size:12px; FONT-FAMILY: "Microsoft YaHei";height:25px; font-weight:normal; text-align:center; line-height:25px;	padding: 0; margin: 0;}
.riq49 p{ background:#E6540B; color:#fff; font-size:12pt;	
	FONT-FAMILY: "Microsoft YaHei"; height:25px; font-weight:normal; text-align:center; line-height:25px;padding: 0; margin: 0;}
.rigrr{
	width:310px;
	float:left;
	height:60px;
	line-height:27.5px;
	font-size:12pt;
	padding-left:10px;
FONT-FAMILY: "Microsoft YaHei";

}



.riq404{ width:95%; height:60px;  margin:10px 0 15px}
.riq494{ width:60px; float:left; padding:0 0 10px; margin: 0;}
.riq494 h3{ background:#e7e7e7;  font-size:12px; FONT-FAMILY: "Microsoft YaHei";height:25px; font-weight:normal; text-align:center; line-height:25px;	padding: 0; margin: 0;}
.riq494 p{ background:#E6540B; color:#fff; font-size:12pt;	
	FONT-FAMILY: "Microsoft YaHei"; height:25px; font-weight:normal; text-align:center; line-height:25px;padding: 0; margin: 0;}
.rigrr4{
	width:290px;
	float:left;
	height:60px;
	line-height:27.5px;
	font-size:12pt;
	padding-left:10px;
FONT-FAMILY: "Microsoft YaHei";

}

.riq401{ width:95%; height:60px;  margin:10px 0 15px}
.riq491{ width:60px; float:left; padding:0 0 10px; margin: 0;}
.riq491 h3{ background:#e7e7e7;  font-size:12px; FONT-FAMILY: "Microsoft YaHei";height:25px; font-weight:normal; text-align:center; line-height:25px;	padding: 0; margin: 0;}
.riq491 p{ background:#005824; color:#fff; font-size:12pt;	
	FONT-FAMILY: "Microsoft YaHei"; height:25px; font-weight:normal; text-align:center; line-height:25px;padding: 0; margin: 0;}
.rigrr1{
	width:310px;
	float:left;
	height:60px;
	line-height:27.5px;
	font-size:12pt;
	padding-left:10px;
FONT-FAMILY: "Microsoft YaHei";

}

.riq402{ width:95%; height:60px;  margin:10px 0 15px}
.riq492{ width:60px; float:left; padding:0 0 10px; margin: 0;}
.riq492 h3{ background:#e7e7e7;  font-size:12px; FONT-FAMILY: "Microsoft YaHei";height:25px; font-weight:normal; text-align:center; line-height:25px;	padding: 0; margin: 0;}
.riq492 p{ background:#1952BB; color:#fff; font-size:12pt;	
	FONT-FAMILY: "Microsoft YaHei"; height:25px; font-weight:normal; text-align:center; line-height:25px;padding: 0; margin: 0;}
.rigrr2{
	width:310px;
	float:left;
	height:60px;
	line-height:27.5px;
	font-size:12pt;
	padding-left:10px;
FONT-FAMILY: "Microsoft YaHei";}

.addWrap{ position:relative; max-width:640px;background:#1dbcff;margin:0 auto; padding:0;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;background:#1dbcff;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;background:#1dbcff;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}
#position{ position:absolute; bottom:5%; right:0; padding-right:8px; margin:0;width:100%;text-align:center;}
#position li{width:10px;height:10px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#AFAFAF;}
#position li.cur{background-color:#061a4e;}
.img-responsive { display: block; max-width:100%;height: auto;}


.fldh{ font-size:13pt; FONT-FAMILY: "Microsoft YaHei";color:#ffffff;text-decoration: none;padding-left:10px;}
.fldh a {
                color:#ffffff;}
.fldh a:active {
                color:#ffffff;}
				.fldh a:visited {
                color:#ffffff;}
				.fldh a:hover {
                color:#ffffff;}
				.fldh a:link {
                color:#ffffff;}
				
